@import '../../../styles/globals';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;

  a {
    &:link,
    &:visited {
      color: #fff;
    }
  }
}

.logo {
  width: 100%;
}
