@import '../../styles/globals';

.TagContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.input {
  border-bottom: 1px dashed #ddd;
  width: 100%;
  font-size: 0.85em;
  padding: 5px;

  &:focus {
    outline: none;
    border-bottom-color: $primary;
  }
}

.dropdown {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
  font-size: 0.75em;

  .item {
    padding: 5px;

    &:hover {
      cursor: pointer;
      background-color: color($primary lightness(+25%));
    }
  }
}
