@import '../../../styles/globals';

.innerModal {
  padding: 20px 0 0;
  font-size: 0.9rem;
}

.modal__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__item__vert {
  @extend .modal__item;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;

  input[type='checkbox'] {
    padding: 5px;
    margin-right: 5px
  }
}

.modal__label {
  color: $secondary;
  font-weight: normal;
}

.searchResult {
  display: flex;
  flex-direction: row;
}

.searchResultInfo {
  display: flex;
  flex-direction: column;
}

.searchResultInfo__name {
  font-size: 0.95rem;
  margin-bottom: 0;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  border-radius: 100%;
}

.buttonContainer {
  margin-left: auto;
}

.addButton {
  font-size: 0.75rem;
  color: $primary;
  cursor: pointer;
  margin-left: auto;
}
