{
  "presets": [
    "react",
    ["es2015", {
      "loose": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-regenerator",
    "transform-object-rest-spread",
    "transform-class-properties",
    "babel-plugin-lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}
