@import '../../styles/globals';

@define-extend regularbutton {
  background-color: #FFF;
  display: inline-block;
  overflow: hidden;
  position: relative;

  color: rgba(0,0,0,0.87);
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: .03em;
  line-height: 1.125;
  text-transform: uppercase;

  transition: all .2s ease-in-out;
  height: 36px;
  padding: 0 20px;

  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
}

.primary {
  @extend regularbutton;
  background-color: $secondary;
  color: $background;

  &:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    color: #fff;
  }
}

.secondary {
  @extend regularbutton;
  background-color: $primary;
  color: $background;

  &:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    color: #fff;
  }
}

.transparent {
  @extend regularbutton;
  background-color: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.2);
}

.link {
  @extend regularbutton;
  background-color: transparent;
  color: $secondary;
}

/////////////// Sizes ///////////////
.sm {
  padding: 0 12px;
}

/////////////// Sizes ///////////////
.right {
  margin-left: auto;
}
