@import '../../styles/globals';
@define-extend regularbutton {
  background-color: #fff;
  display: flex;
  overflow: hidden;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  line-height: 2.5;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  height: 36px;
  padding: 0 20px;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  outline: none;
  justify-content: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
}

.primary {
  @extend regularbutton;

  background-color: $primary;
  color: $background;

  &:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}

.secondary {
  @extend regularbutton;

  background-color: $secondary;
  color: $background;

  &:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}

.transparent {
  @extend regularbutton;

  background-color: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.2);
}

.link {
  @extend regularbutton;

  background-color: transparent;
  color: $secondary;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sm {
  padding: 0 12px;
}

.right {
  margin-left: auto;
}
