.missionEditor {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #828D9A;
  color: #fff;
  padding: 10px 15px;
}

.section {
  margin: 20px 55px 48px;
}

.sectionHeader {
  color: #344055;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 6px;
}

.okrSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid #EEE; */
}

.okrObjective,
.okrResults {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 30px 6px 0;
}

.okrObjective {
}

.okrResults {

}
