.ChangePassword {

}

.strengthMeter {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.okayPassword {
  color: #ccc;
  margin-left: 0.5em;
}

.goodPassword {
  color: #539D00;
  margin-left: 0.5em;
}
