@import '../../styles/globals';
@import '../../styles/mixins';
@import '../../styles/layout';

.UserCard {
  display: flex;
  width: 100%;
}

.header,
.body,
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $secondary;
}

.header {
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  flex-direction: column;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 10px;
}

.body {
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  justify-content: baseline;
  align-items: baseline;
}

.missions,
.squads {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.squads {
  border-right: 1px solid #f0f0f0;
}
