@import '../../styles/globals';

.user {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  font-size: 0.9rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  justify-content: center;
  align-items: flex-start;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin: 0 15px 15px 0;
}

.headerInfo {
  display: flex;
  flex-direction: row;
  line-height: 1;
  flex-grow: 0;
  align-items: center;
  flex-wrap: wrap;

  h4 {
    margin-bottom: 0;
  }

  p {
    width: 100%;
  }
}

.objective {
  display: flex;
  flex-direction: column;
  width: 100%;

  h4 {
    margin-bottom: 0;
  }

  p,
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 20px;
    list-style-type: disc;
  }

  p + h4,
  ul + h4 {
    margin-top: 15px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0;
}

.moreBar {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.more__action {
  display: flex;
  justify-content: center;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  margin-bottom: 5px;

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.moreDropdown {
  background-color: #fff;
  position: absolute;
  min-height: 1px;
  width: 150px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  top: 100%;
  left: -120px;
  z-index: 9999;

  ul {

  }

  li {
    font-size: 0.9em;
    padding: 10px;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.actionBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: -10px 0 5px;
  justify-content: flex-end;
}

.action {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #ccc;
  height: 32px;
  text-align: center;
  transition: color 0.25s ease;
  align-items: center;

  &:hover {
    color: $secondary;
  }
}

.caption {
  flex-grow: 0;
  width: 0;
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 5px;
  transition: width 0.25s ease;
  color: inherit;
}

.action:hover .caption {
  width: initial;
}
