/**
 * Colours
 */
$primary: #3861F4;
$secondary: #344055;
$background: #F5F3F0;

/**
 * z-index
 */
$regular: 0;
$top: 100;

:global {
  html,
  body {
    min-height: 100%;
    font-family: Roboto, sans-serif;
    background-color: #FFF;
    position: relative;
  }

  a {

    &:link,
    &:visited {
      color: $primary;
      text-decoration: none;
    }

    &:hover {

    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.3rem;
  }

  p {
    line-height: 140%;
    margin-bottom: 0.3rem;
    font-weight: 100;
  }

  img {
    width: 100%;
  }

  li {
    list-style: none;
    padding: 0.2rem 0;
    font-weight: 100;
  }

  li > ul {
    margin-left: 2rem;
  }

  ul li ul li {
    list-style: circle;
    padding: 5px 0;
  }

  hr {
    border-bottom: 0;
    opacity: 0.45;
    width: 95%;
    margin: 15px 0;
  }

}
