$primary: #3861F4;
$secondary: #344055;
$background: #F5F3F0;

:global {
  html,
  body {
    min-height: 100%;
    font-family: Roboto, sans-serif;
  }

  a {

    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover {

    }
  }

  li > ul {
    margin-left: 2rem;
  }

  img {
    width: 100%;
  }
}
