/**
 * This file contains all layout extendss
 * Import it like `@import '../../styles/layout';`
 * and use it like `@extend <extend-name>.
 *
 * Editing/saving this file doens't cause a hot reload.
 * Edit/save the file that this is included into for HMR.
 */

@define-extend container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@define-extend row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  padding: 30px;
}

@define-extend controlBar {
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
