/**
 * This file contains all global mixins
 * Import it like `@import '../../styles/mixins';`
 * and use it like `@mixin <mixin-name>.
 *
 * Editing/saving this file doens't cause a hot reload.
 * Edit/save the file that this is included into for HMR.
 */

@define-mixin success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

@define-mixin info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

@define-mixin warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

@define-mixin danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

