$primary: #009ED9;
$secondary: #011627;

$accent: #FF3366;
$background: #F6F7F8;
$secondaryaccent: #F1E8B8;

//-- Color configuration
$color-divider: $palette-grey-200;
$color-background: $background;
$color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-600;

$color-primary: $primary;
$color-primary-dark: darken($primary, 20%);
$color-accent: $accent;
$color-accent-dark: darken($accent, 20%);
$color-primary-contrast: $secondary;
$color-accent-contrast: darken($secondary, 20%);

//-- Sizing
$unit: 0.625rem;

// -- Fonts
$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size: 1.6 * $unit;
$font-size-tiny: 1.2 * $unit;
$font-size-small: 1.4 * $unit;
$font-size-normal: $font-size;
$font-size-big: 1.8 * $unit;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
