@import '../../styles/globals';

.UserList {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1024px;
}

.controlBar,
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
}

.controlBar {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.macroContainer {
  display: flex;
  margin-right: 30px;
}

.buttonContainer {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.cardContainer {
  // flex-direction: column;
}

.listItem {
  // margin-bottom: 30px;
  width: calc((100% - 120px) / 4);
  margin-right: 30px;
}

.header,
.body,
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $secondary;
}

.header {
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.body {
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  justify-content: baseline;
  align-items: baseline;
}

.missions,
.squads {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 1px);
}

.squads {
  border-right: 1px solid #f0f0f0;
}
