@import '../../styles/globals';

.outerModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // bottom: 0;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4);

  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  z-index: $top;
}

.noBg {
  background: transparent;
}

.innerModal {
  position: relative;
  background-color: #FFF;
  border-radius: 3px;
  color: $secondary;
  display: flex;
  // height: 360px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  width: 40%;
}

.xl {

}

.lg {

}

.md {

}

.sm {

}

.xs {

}
