@import '../../styles/globals';
@import '../../styles/mixins';
@import '../../styles/layout';

.LoadingBar {
  @extend container;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
