@import '../../styles/globals';

.UserEditor {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  overflow: hidden;
  padding-bottom: 40px
}

.header,
.body,
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.body {
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 100px);
  margin: 0 50px 0;
  padding: 20px 0;
}

.missions,
.user {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  box-shadow: 0 0 2px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.24);
  align-items: center;
  padding: 20px;
}

.user {
  width: 30%;
  flex-grow: 0;
}

.userImg {
  width: 45%;
  border-radius: 100%;
  margin-bottom: 10px;
}

.userName {
  color: $secondary;
  font-weight: normal;
  font-size: 2rem;
}

.missions {
  width: calc(70% - 30px);
  margin-left: auto;
}
