@import '../../styles/globals';

.signupBox {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #FFF;
  width: 480px;
  margin-bottom: 20px;
}

.formGroup {
  display: block;
  margin: 10px 0;
}

.formLabel {
  color: $secondary;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 7px;
}

.alert {
  background-color: #FDD7D7;
  border: 1px solid #F99898;
  color: #804343;
  padding: 10px;
  font-size: 0.85rem;
  border-radius: 3px;
  margin: 5px 0;
}
