.missionCard {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  max-width: 500px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  background-color: #fff;
}

.header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.header .avatar {
  max-width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.header .profileDetails {
  padding: 10px;
}

.divider {
  width: 100%;
  border: 1px solid #f0f0f0;
}

.section {
  margin-bottom: 10px;
}

li {
  list-style: none;
  padding: 0.2rem 0;
  font-weight: 100;
}

ul li ul li {
  list-style: circle;
  padding: 5px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.3rem;
}

p {
  line-height: 140%;
  margin-bottom: 0.3rem;
  font-weight: 100;
}
