.missionCard {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 500px;
}

.header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.header .avatar {
  max-width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.header .profileDetails {
  padding: 10px;
}

li {
  list-style: none;
  padding: 0.2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.3rem;
}

p {
  line-height: 140%;
  margin-bottom: 0.3rem;
}
