@import '../../styles/globals';

.mainContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  width: 60px;
  position: fixed;
  height: 100%;
}

.nav {
  display: inline-block;
  color: #fff;

  a {
    display: flex;
    flex-direction: column;

    &:link,
    &:visited {
      color: #fff;
      padding: 15px 10px;
      text-align: center;
    }

    &:hover{
      background-color: rgba(255, 255, 255, 0.3);
    }

    i {
      margin-bottom: 5px;
    }
  }
}

.nav__legend {
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.1px;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.nav a:hover .nav__legend {
  opacity: 1;
}

.bottomNav {
  @extend .nav;
  margin-top: auto;
}

.body {
  display: flex;
  width: calc(100% - 60px);
  // margin-top: 40px;
  margin-left: 60px;
  background-color: #EEEEEE;
}

