@import '../../styles/globals';

.mainContainer {
  min-height: 100vh;
}

.header {
  display: flex;
  background-color: $secondary;
  height: 60px;
}

.nav {
  display: inline-block;
  color: #fff;

  a {
    display: block;

    &:link,
    &:visited {
      padding: 20px;
    }

    &:hover{
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.body {
  display: flex;
  padding: 40px;
}
