<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>objectiveIQ</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">

</head>
<body>
  <div id="app"></div>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <% if (process.env.NODE_ENV === 'production') { %>
    <%= require('html!analytics.html') %>
  <% } %>
</body>
</html>
