@import '../../styles/globals';

.iconbutton {
  font-size: 1.2em;
  cursor: pointer;
  color: #ccc;
  padding: 5px;
  transition: color 0.25s ease-in-out;

  i {
    font-weight: bold;
  }

  &:hover {
    color: $primary;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.iconbutton__checked {
  @extend .iconbutton;

  color: $accent;
}
