@import '../../styles/globals';

.input {
  margin: -15px 0;

  .inputElement {
    font-size: 1rem;

    .label {
      font-size: 0.85rem;
    }

    .bar {
      &::before,
      &::after {
        background-color: $primary !important;
      }
    }
  }
}
